<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Download your merged pdf</title>
</head>

<body>
    <nav class="navbar bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">Pdf-tool</a>
        </div>
    </nav>

    <div class="container mt-5">
        <h2>Your PDF is ready!</h2>
        <a href="{% url 'download-pdf' %}" type="button" class="btn btn-success">Download</a>
    </div>

</body>

</html>