{% extends 'index.html' %}

{% block title %} Compress PDF | Pdf Tool {% endblock %}

{% load static %}

{% block body %}

<header class="container p-2 text-center">
    <h2 class="text-center">Pdf uploaded !</h2>
    <p>We will compress your pdf in sufficent size along with good quality.</p>
</header>

<main class="container p-2 my-4 d-flex flex-column justify-content-center align-items-center">
    <p class="fw-bold">✅  {{pdf}}</p>
    <a href="{% url 'compress_pdf' %}" role="button" class="btn btn-primary">Compress and Download</a>
</main>


{% endblock %}